body {
    padding: 10px;
}

textarea {
    margin-top: 20px;
    height: 20vh;
    width: 80%;
}

#test {
    display: flex;
    margin-top: 30px;
}

.watchlist {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}